#records {
    max-height: 250px;
    overflow: scroll;
}

[v-cloak] { /*sets v-cloak to be hidden while Vue is loading*/
    display: none;
}

.Sketching {
    color: gray;
    font-style: italic;
    background-color: aliceblue;
}

.Drawing {
    color: black;
    font-weight: bold;
    background-color: bisque;
}

.Painting {
    color: indianred;
    font-weight: bold;
    background-color: greenyellow;
}

#noteBox {
    height: 50px;
    width: 800px;
}

